@model IEnumerable<ExamManager.Domain.DomainModel.Predmet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Предмети</h1>

<p>
    <a asp-action="Create">Додај нов предмет</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Предмет</label>
            </th>
            <th>
                <label>Семестар</label>
            </th>
            <th>
                <label>Студиски циклус</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImeNaPredmet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semestar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudiskiCiklus.CiklusNaStudii)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KodNaPredmet">Измени</a> |
                <a asp-action="Details" asp-route-id="@item.KodNaPredmet">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.KodNaPredmet">Избриши</a>
            </td>
        </tr>
}
    </tbody>
</table>